.profile__subtitle {
  grid-area: subtitle;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:768px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width:400px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
  }
}
