.popup__button-close {
  background-image: url(../../../images/popup/CloseIcon.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -38px;
  right: -35px;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__button-close {
    top: -35px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/popup/CloseIconmobile.svg);
  }
}
