.popup__imagebody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  margin: auto;
}
